{% extends 'layout.html' %}
{% block content %}

<div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>Lista de Alunos</h1>
    <div class="row">
    {% for id, aluno in alunos.items() %}
        <div class="col-md-3" style="border:  1px solid; margin: 5px; padding: 5px;">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img src="{{ aluno['avatar'] }}" alt="{{ aluno['nome'] }}" style="width: 100px; height: 100px;">
                </div>
                <div class="flex-grow-1 ms-3">
                    <p><strong>Nome:</strong>{{ aluno['nome'] }}</p>
                    <p><strong>Nome:</strong>{{ aluno['usuario'] }}</p>
                    <hr>Notas
                    <p>
                        <strong>Prova 1:</strong> {{ aluno['p1'] }}
                        <strong>Prova 2:</strong> {{ aluno['p2'] }}
                        <strong>Trabalho:</strong> {{ aluno['t'] }}
                    </p>
                    <p><strong>Media:</strong> {{ "{:.2f}".format(media(aluno['p1'], aluno['p2'], aluno['t'])) }}</p>
                    <hr>
                    <a class="btn btn-success" href="{{ url_for("Aluno.edit", id=id) }}">Editar</a>
                     | 
                    <a class="btn btn-danger" href="{{ url_for("Aluno.delete", id=id) }}">Excluir</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}