{% extends 'layout.html' %}
{% block content%}

<div class="container">
    <div class="d-flex flex-row" >
        <h1>Lista de alunos</h1>
        <a href="{{url_for("Aluno.add")}}" class="bnt bnt-primary">Adicionar</a>
    </div>
    <div class="row">
        {% for id, aluno in alunos.items() %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ aluno['avatar'] }}" class="card-img-top" alt="{{ aluno['nome'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ aluno['nome'] }} (id:{{ id }})</h5>
                    <p class="card-text"><strong>Usuário:</strong> {{ aluno['usuario'] }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Prova 1:</strong> {{ aluno['p1'] }}</li>
                    <li class="list-group-item"><strong>Prova 2:</strong> {{ aluno['p2'] }}</li>
                    <li class="list-group-item"><strong>Trabalho:</strong> {{ aluno['t'] }}</li>
                </ul>
                <p><strong>Media:</strong>{{ media(aluno['t'], aluno['p1'], aluno['p2']) }}</p>
                <hr>
                <a href="{{url_for("alunos.edit", id=id)}}" class="btn btn-success">Editar</a>
                <a href="{{url_for("alunos.delete", id=id)}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}