{% extends 'layout.html' %}

{% block content %}
<style> 

.div-center{
  
  display: flex;
  align-items: center;
  justify-content: center;

} 


</style>
<div class="div-center">
<div class="container">
    <form action="{{ url_for('index') }}" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="senha" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Autorizo uso de dados</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="alert" href="{{ url_for('recuperar') }}">Recuperar senha</a>
        <a class="alert" href="{{url_for('registro')}}">Fazer registro</a>
        
    </form>
    <p class="danger-alert alert">{{error}}</p>
</div>
</div>
{% endblock %}
