{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nova senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>
{% endblock %}