{% extends 'layout.html' %}

{% block content %}
<div class="container">
    {% if error != None %}
    <div class="alert alert-danger">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <form method="post">
        <div class="mb-3">

          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nova senha</label>
          <input type="password" name="senha" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Repita</label>
            <input type="password" name="senha" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Confirme</button>
    </form>
</div>
{% endblock%}
